.u-section-1 .u-sheet-1 {
  min-height: 517px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  margin: 125px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 45px auto 0;
}

.u-section-1 .u-custom-html-1 {
  min-height: 28px;
  height: auto;
  width: 94px;
  margin: 53px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 55px auto 60px;
}

.u-section-1 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
}